apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: v11y_api_secret
data:
  client_secret: "{{ tpa_single_node_oidc_walker_secret | b64encode }}"
  s3_access_key: "{{ tpa_single_node_s3_access_key | b64encode }}"
  s3_secret_key: "{{ tpa_single_node_s3_secret_key | b64encode }}"
