apiVersion: apps/v1
kind: Deployment
metadata:
  name: v11y-api
  namespace: "{{ tpa_single_node_namespace }}"
  labels:
    app.kubernetes.io/name: v11y-api
    app.kubernetes.io/component: v11y
    app.kubernetes.io/instance: redhat-trusted-profile-analyzer
    app.kubernetes.io/version: 1.1.1
    app.kubernetes.io/part-of: trusted-profile-analyzer
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: v11y-api
      app.kubernetes.io/component: v11y
      app.kubernetes.io/instance: redhat-trusted-profile-analyzer
  template:
    metadata:
      labels:
        app.kubernetes.io/name: v11y-api
        app.kubernetes.io/component: v11y
        app.kubernetes.io/instance: redhat-trusted-profile-analyzer
      annotations:
        config/checksum: "{{ cm_checksum.stat.checksum }}"
    spec:
      containers:
        - image: "{{ tpa_single_node_trustification_image }}"
          imagePullPolicy: IfNotPresent
          name: service
          command: ["/trust"]
          args:
            - "v11y"
            - "api"
            - "-p"
            - "8080"
            - "--index-mode"
            - "file"
            - "--auth-configuration"
            - "/etc/config/auth.yaml"      

          ports: 
            - containerPort: 9010
              protocol: TCP
              name: infra
            - containerPort: 8080
              name: endpoint
              protocol: TCP

          volumeMounts:
            - name: v11y-api-cm-volume
              mountPath: /etc/v11y-api-config
            - name: s3-credentials
              mountPath: /etc/s3-v11y
            - name: oidc-credentials
              mountPath: /etc/oidc-v11y
          livenessProbe:
            initialDelaySeconds: 2
            httpGet:
              path: /health/live
              port: 9010
          
          readinessProbe:
            initialDelaySeconds: 2
            httpGet:
              path: /health/ready
              port: 9010

          env:
            - name: RUST_LOG
              value: "info"    
            - name: INFRASTRUCTURE_ENABLED
              value: "true"
            - name: INFRASTRUCTURE_BIND
              value: "[::]:9010"
            - name: HTTP_SERVER_BIND_ADDR
              value: "::"
            - name: INDEX_SYNC_INTERVAL
              value: 1m

            - name: OIDC_PROVIDER_ISSUER_URL
              value: "{{ tpa_single_node_oidc_issuer_url }}"
            - name: OIDC_PROVIDER_CLIENT_ID
              value: "{{ tpa_single_node_oidc_walker }}"
            - name: OIDC_PROVIDER_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  key: client-secret
                  name: oidc-walker

            - name: STORAGE_REGION
              value: "{{ tpa_single_node_s3_storage_region }}"
            - name: STORAGE_BUCKET
              value: "{{ tpa_single_node_s3_v11y_bucket }}"
            - name: STORAGE_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  key: s3_access_key
                  name: storage-credentials
            - name: STORAGE_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  key: s3_secret_key
                  name: storage-credentials
            - name: STORAGE_ENDPOINT
              value: "{{ tpa_single_node_s3_minio_endpoint }}"
      volumes:
        - name: v11y-api-cm-volume
          configMap:
            name: v11y-api-config
          
        - name: s3-credentials
          secret:
            secret_name: storage-credentials
          
        - name: oidc-credentials
          secret: 
            secret_name: oidc-walker