apiVersion: v1
kind: Secret
metadata:
  name: storage-credentials
  namespace: "{{ tpa_single_node_namespace }}"
type: Opaque
data:
  s3_access_key: "{{ tpa_single_node_s3_access_key | b64encode }}"
  s3_secret_key: "{{ tpa_single_node_s3_secret_key | b64encode }}"
