apiVersion: apps/v1
kind: Deployment
metadata:
  name: vexination-walker
  namespace: "{{ tpa_single_node_namespace }}"
  labels:
    name: vexination-walker
    app: vexination-walker
spec:
  selector:
    matchLabels:
      app: vexination-walker
  template:
    spec:
      restartPolicy: Never
      volumes:
        - name: walker-state
          persistentVolumeClaim:
            claimName: vexination-walker-state
        - name: vexination-walker-oidc-secret
          secret:
            secretName: oidc_secret
      containers:
        - image: "{{ tpa_single_node_trustification_image }}"
          imagePullPolicy: Always
          name: walker
          command:
            - /trust
          args:
            - vexination
            - walker
            - --sink
            - http://vexination-api-pod:{{ tpa_single_node_vexination_api_port }}/api/v1/vex
            - --source
            - https://www.redhat.com/.well-known/csaf/provider-metadata.json
            - --ignore-distributions
            - https://access.redhat.com/security/data/csaf/v2/advisories/
            - '-3'
            - --since-file
            - /walker-state/since
          env:
            - name: RUST_LOG
              value: "info"
            - name: INFRASTRUCTURE_ENABLED
              value: "true"
            - name: INFRASTRUCTURE_BIND
              value: "[::]:9010"
            - name: OIDC_PROVIDER_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  key: client_id
                  name: oidc_secret
            - name: OIDC_PROVIDER_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  key: client_secret
                  name: oidc_secret
            - name: OIDC_PROVIDER_ISSUER_URL
              value: "{{ tpa_single_node_oidc_issuer_url }}"
          volumeMounts:
            - mountPath: /walker-state
              name: walker-state
            - mountPath: /etc/vexwalkeroidcsecret
              name: vexination-walker-oidc-secret
          livenessProbe:
            httpGet:
              path: /health/live
              port: 9010
            initialDelaySeconds: 2
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 9010
            initialDelaySeconds: 2
          startupProbe:
            httpGet:
              path: /health/startup
              port: 9010
