venv/
vm-testing/inventory
vm-testing/vars.yml
vm-testing/**/.terraform*
vm-testing/**/terraform.tfvars
vm-testing/**/terraform.tfstate*
env/
.venv/
venv/
.env/
certs/*.pem
certs/*.key
certs/*.crt
certs/*.cnf
certs/*.srl
.vagrant
# artifacts/ directory produced by ansible-runner
artifacts/
# context/ directory produced by ansible-builder
context/
*.log
*+00:00.json
*.swp
.vscode/
.idea
