kind: Deployment
apiVersion: apps/v1
metadata:
  name: spog-api
  namespace: "{{ tpa_single_node_namespace }}"
  labels:
    app.kubernetes.io/name: spog-api
    app.kubernetes.io/component: spog
    app.kubernetes.io/instance: redhat-trusted-profile-analyzer
    app.kubernetes.io/version: 1.1.1
    app.kubernetes.io/part-of: trusted-profile-analyzer
  annotations: null
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: spog-api
      app.kubernetes.io/component: spog
      app.kubernetes.io/instance: redhat-trusted-profile-analyzer
  template:
    metadata:
      labels:
        app.kubernetes.io/name: spog-api
        app.kubernetes.io/component: spog
        app.kubernetes.io/instance: redhat-trusted-profile-analyzer
      annotations:
        configHash/auth: "{{ oidc_configmap_checksum.stat.checksum }}"
        configHash/ui: "{{ spog_ui_configmap_checksum.stat.checksum }}"
    spec:
      containers:
        - name: service
          image: "{{ tpa_single_node_trustification_image }}"
          imagePullPolicy: IfNotPresent
          livenessProbe:
            initialDelaySeconds: 2
            httpGet:
              path: /health/live
              port: 9010
          readinessProbe:
            initialDelaySeconds: 2
            httpGet:
              path: /health/ready
              port: 9010
          command:
            - /trust
          args:
            - spog
            - api
            - -p
            - '8080'
            - --bombastic-url
            - http://bombastic-api-pod:8080
            - --vexination-url
            - http://vexination-api-pod:8080
            - --collectorist-url
            - http://collectorist-api-pod:8080
            - --v11y-url
            - http://v11y-api-pod:8080
            - --crda-url
            - https://rhda.rhcloud.com/api/v4/analysis
            - --guac
            - http://guac-graphql-pod:8080/query
            - --auth-configuration
            - /etc/config/auth.yaml
          env:

            - name: RUST_LOG
              value: info
            - name: INFRASTRUCTURE_ENABLED
              value: 'true'
            - name: INFRASTRUCTURE_BIND
              value: '[::]:9010'
            - name: HTTP_SERVER_BIND_ADDR
              value: '::'
            - name: HTTP_SERVER_TLS_ENABLED
              value: 'true'
            - name: HTTP_SERVER_TLS_KEY_FILE
              value: /etc/tls/tls.key
            - name: HTTP_SERVER_TLS_CERTIFICATE_FILE
              value: /etc/tls/tls.crt
            - name: OIDC_PROVIDER_CLIENT_ID
              value: "{{ tpa_single_node_oidc_provider_client_id }}"
            - name: OIDC_PROVIDER_CLIENT_SECRET
              value: "{{ tpa_single_node_oidc_provider_client_secret }}"
            - name: OIDC_PROVIDER_ISSUER_URL
              value: "{{ tpa_single_node_oidc_issuer_url }}"
            - name: SWAGGER_UI_OIDC_ISSUER_URL
              value: "{{ tpa_single_node_oidc_issuer_url }}"
            - name: SPOG_UI_CONFIG
              value: /etc/config/spog-ui.yaml
          ports:
            - containerPort: 9010
              protocol: TCP
              name: infra
            - containerPort: 8080
              name: endpoint
              protocol: TCP
          volumeMounts:
            - mountPath: /etc/tls
              name: tls
              readOnly: true
            - name: config-auth
              mountPath: /etc/config/auth.yaml
              subPath: auth.yaml
            - name: config-ui
              mountPath: /etc/config/spog-ui.yaml
              subPath: spog-ui.yaml
      volumes:
        - name: tls
          secret:
            secretName: spog-api-tls
        - name: config-auth
          configMap:
            name: spog-api-auth
        - name: config-ui
          configMap:
            name: spog-ui-config
