apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: spog-ui-tls
data:
  server.crt: "{{ tpa_single_node_spog_ui_tls_cert_pem | b64encode }}"
  server.key: "{{ tpa_single_node_spog_ui_tls_cert_key | b64encode }}"
