apiVersion: apps/v1
kind: Deployment
metadata:
  name: guac-graphql
  namespace: {{ tpa_single_node_namespace }}
  labels:
    app.kubernetes.io/name: guac-graphql
    app.kubernetes.io/component: guac
    app.kubernetes.io/instance: redhat-trusted-profile-analyzer
    app.kubernetes.io/version: 1.2.0
    app.kubernetes.io/part-of: trusted-profile-analyzer
  annotations: null
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: guac-graphql
      app.kubernetes.io/component: guac
      app.kubernetes.io/instance: redhat-trusted-profile-analyzer
  template:
    metadata:
      labels:
        app.kubernetes.io/name: guac-graphql
        app.kubernetes.io/component: guac
        app.kubernetes.io/instance: redhat-trusted-profile-analyzer
    spec:
      initContainers:
        - name: migrate
          image: {{ tpa_single_node_guac_image }}
          imagePullPolicy: IfNotPresent
          command:
            - /opt/guac/guacmigrate
          args:
            - --db-address=postgres://{{ tpa_single_node_pg_admin }}:{{ tpa_single_node_pg_admin_passwd }}@{{ tpa_single_node_pg_host }}:{{ tpa_single_node_pg_port }}/{{ tpa_single_node_pg_db }}?sslmode={{ tpa_single_node_pg_ssl_mode }}
            - --db-driver=postgres
            - --db-debug=true
          volumeMounts: null
      containers:
        - name: service
          image: {{ tpa_single_node_guac_image }}
          imagePullPolicy: IfNotPresent
          command:
            - /opt/guac/guacgql 
          args:
            - --gql-listen-port={{ tpa_single_node_guac_graphql_port }}
            - --gql-backend=ent 
            - --db-address=postgres://{{ tpa_single_node_pg_user }}:{{ tpa_single_node_pg_user_passwd }}@{{ tpa_single_node_pg_host }}:{{ tpa_single_node_pg_port }}/{{ tpa_single_node_pg_db }}?sslmode={{ tpa_single_node_pg_ssl_mode }}
            - --db-driver=postgres
            - --db-migrate=false
          workingDir: "/opt/guac"
          env:
            - name: GUAC_GQL_TLS_CERT_FILE
              value: /etc/tls/tls.crt
            - name: GUAC_GQL_TLS_KEY_FILE
              value: /etc/tls/tls.key
            - name: GUAC_PROMETHEUS_ADDR
              value: "9010"
          volumeMounts:
            - mountPath: /etc/tls
              name: tls
              readOnly: true
            - name: trust-anchor
              mountPath: /etc/trust-anchor
              readOnly: true
          readinessProbe:
            httpGet:
              path: /healthz
              port: 9010
              scheme: HTTPS
          livenessProbe:
            initialDelaySeconds: {{ tpa_single_node_probe_initial_delay_seconds }}
            exec:
              command:
                - /bin/curl
                - -kf
                - 'https://localhost:8089/healthz'
          ports:
            - containerPort: 9010
              protocol: TCP
              name: infra
            - containerPort: {{ tpa_single_node_guac_graphql_port }}
              protocol: TCP
              name: endpoint
              hostPort: {{ tpa_single_node_guac_graphql_port }}
              hostIP: {{ tpa_single_node_rhel_host }}
      volumes:
        - name: tls
          secret:
            secretName: tls_cert
        - name: trust-anchor
          configMap:
            name: custom-trust-anchor
