apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: guac-graphql-tls
data:
  tls.crt: "{{ tpa_single_node_guac_graphql_tls_cert_key | b64encode }}"
  tls.key: "{{ tpa_single_node_guac_graphql_tls_cert_pem | b64encode }}" 
