---
kind: ConfigMap
apiVersion: v1
metadata:
  name: collectorist-api
  namespace: "{{ tpa_single_node_namespace }}"
  labels:
    app: collectorist-api
    component: collectorist
data:
  collectorist.yaml: |
    collectors:
      osv:
        cadence: 1d
        url: http://collector-osv-pod:{{ tpa_single_node_collector_osv_port }}/api/v1/
        interests:
          - package
          - vulnerability
