apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: collectorist-api-tls
data:
  tls.crt: "{{ tpa_single_node_collectorist_api_tls_cert_pem | b64encode }}"
  tls.key: "{{ tpa_single_node_collectorist_api_tls_cert_key | b64encode }}"
  "service-ca.crt": "{{ tpa_single_node_collectorist_api_tls_csub_cert_crt | b64encode }}"
