kind: ConfigMap
apiVersion: v1
metadata:
  name: "{{ component.name }}-{{ component.type }}-auth"
  namespace: "{{ tpa_single_node_namespace }}"
  labels:
    app: "{{ component.name }}-{{ component.type }}"
    component: "{{ component.name }}"
data:
  auth.yaml: |
    authentication:
      clients:
        - clientId: "{{ tpa_single_node_oidc_frontend_id }}"
          issuerUrl: "{{ tpa_single_node_oidc_issuer_url }}"
          additionalPermissions:
            - "read.sbom"
            - "read.vex"
            - "read.cve"
          groupSelector: "$.['cognito:groups'][*]"
          groupMappings:
            manager:
              - "create.sbom"
              - "create.vex"
              - "update.sbom"
              - "update.vex"
              - "delete.sbom"
              - "delete.vex"
        - clientId: "{{ tpa_single_node_oidc_provider_client_id }}"
          issuerUrl: "{{ tpa_single_node_oidc_issuer_url }}"
          scopeMappings:
            "trustification/bombastic":
              - "create.sbom"
              - "read.sbom"
              - "update.sbom"
              - "delete.sbom"
            "trustification/vexination":
              - "create.vex"
              - "read.vex"
              - "update.vex"
              - "delete.vex"
            "trustification/v11y":
              - "read.cve"
