apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: storage_secret
data:
  client_secret: "{{ tpa_single_node_oidc_provider_client_id_secret | b64encode }}"
  storage_access_key: "{{ tpa_single_node_storage_access_key_id | b64encode }}"
  storage_secret_key: "{{ tpa_single_node_storage_secret_access_key | b64encode }}"
