apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: event_secret
data:
  event_access_key_id: "{{ tpa_single_node_event_access_key_id | b64encode }}"
  event_secret_access_key: "{{ tpa_single_node_event_secret_access_key | b64encode }}"
