apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: tls_cert
data:
  tls.crt: "{{ tpa_single_node_trust_tls_cert_pem | b64encode }}"
  tls.key: "{{ tpa_single_node_trust_tls_cert_key | b64encode }}"