apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: oidc_secret
data:
  front_end: "{{ tpa_single_node_oidc_frontend_id | b64encode }}"
  client_id: "{{ tpa_single_node_oidc_provider_client_id | b64encode }}"
  client_secret: "{{ tpa_single_node_oidc_provider_client_secret | b64encode }}"
