apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: storage_secret
data:
  storage_access_key: "{{ tpa_single_node_storage_access_key | b64encode }}"
  storage_secret_key: "{{ tpa_single_node_storage_secret_key | b64encode }}"
