apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: nginx-tls
data:
  server.crt: "{{ tpa_single_node_nginx_tls_cert_pem | b64encode }}"
  server.key: "{{ tpa_single_node_nginx_tls_cert_key | b64encode }}"
