[Unit]
Description=Run {{ podman_spec.systemd_file}},service every 60 minutes
Requires={{ podman_spec.systemd_file}}.service

[Timer]
OnCalendar=*:0/60 # The task will be executed every 60 minutes starting from the minute 0
AccuracySec=12h
Persistent=true

[Install]
WantedBy=timers.target
