[Unit]
Description=Run {{ podman_spec.systemd_file}}.timer

[Timer]
Unit={{ podman_spec.systemd_file}}.service
OnCalendar={{ podman_spec.time_pattern }}
Persistent=true

[Install]
WantedBy=timers.target
