apiVersion: apps/v1
kind: Deployment
metadata:
  name: bombastic-walker
  namespace: "{{ tpa_single_node_namespace }}"
  labels:
    app.kubernetes.io/name: bombastic-walker
    app.kubernetes.io/component: walker
    app.kubernetes.io/part-of: trustification
spec: 
  selector:
    matchLabels:
      app: vexination-walker
  template:
    spec:
      restartPolicy: Never
      volumes:
        - name: walker-state
          persistentVolumeClaim:
            claimName: bombastic-walker-state
        - name: oidc-secret
          secret:
            secretName: oidc_secret
        - name: trust-anchor
          configMap:
            name: custom-trust-anchor
      containers:  
        - image: "{{ tpa_single_node_trustification_image }}"
          imagePullPolicy: Always
          name: walker
          command:
            - /trust
          args:
            - bombastic
            - walker
            - --sink
            - https://{{ tpa_single_node_rhel_host }}:{{ tpa_single_node_bombastic_api_port }}/api/v1/sbom
            - --source
            - https://access.redhat.com/security/data/sbom/beta/
            - "-3"
            - --signing-key
            - https://access.redhat.com/security/data/97f5eac4.txt#77E79ABE93673533ED09EBE2DCE3823597F5EAC4
            - --fix-licenses
            - "true"
            - --since-file
            - /walker-state/since
          env:
            - name: RUST_LOG
              value: "info"
            - name: INFRASTRUCTURE_ENABLED
              value: "true"
            - name: INFRASTRUCTURE_BIND
              value: "[::]:9010"
            - name: OIDC_PROVIDER_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  key: client_id
                  name: oidc_secret
            - name: OIDC_PROVIDER_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  key: client_secret
                  name: oidc_secret
            - name: OIDC_PROVIDER_ISSUER_URL
              value: "{{ tpa_single_node_oidc_issuer_url }}"
          ports:
            - containerPort: 9010
              protocol: TCP
              name: infra
          volumeMounts:
            - mountPath: /walker-state
              name: walker-state
            - mountPath: /etc/oidc-secret
              name: oidc-secret
            - name: trust-anchor
              mountPath: /etc/trust-anchor
              readOnly: true
          livenessProbe:
            httpGet:
              path: /health/live
              port: 9010
            initialDelaySeconds: {{ tpa_single_node_probe_initial_delay_seconds }}
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 9010
            initialDelaySeconds: {{ tpa_single_node_probe_initial_delay_seconds }}
          startupProbe:
            httpGet:
              path: /health/startup
              port: 9010
