apiVersion: apps/v1
kind: Deployment
metadata:
  name: guac-collectsub
  namespace: trustification
  labels:
    app.kubernetes.io/name: guac-collectsub
    app.kubernetes.io/component: guac
    app.kubernetes.io/instance: redhat-trusted-profile-analyzer
    app.kubernetes.io/version: 1.1.1
    app.kubernetes.io/part-of: trusted-profile-analyzer
  annotations: null
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: guac-collectsub
      app.kubernetes.io/component: guac
      app.kubernetes.io/instance: redhat-trusted-profile-analyzer
  template:
    metadata:
      labels:
        app.kubernetes.io/name: guac-collectsub
        app.kubernetes.io/component: guac
        app.kubernetes.io/instance: redhat-trusted-profile-analyzer
    spec:
      volumes:
        - name: tls-cert
          secret:
            secretName: tls_cert
      containers:
        - name: service
          image: {{ tpa_single_node_guac_image }}
          imagePullPolicy: IfNotPresent
          command:
            - /opt/guac/guaccsub
          # TODO - We get an error with following args so we could use a variable for configuration purposes
          # The default port is 2782 so that's no blocker for now
          # args: 
          #  - --csub-listen-port 2782
          env:
            - name: GUAC_CSUB_TLS_CERT_FILE
              value: /etc/tls/tls.crt
            - name: GUAC_CSUB_TLS_KEY_FILE
              value: /etc/tls/tls.key
          volumeMounts:
            - mountPath: /etc/tls
              name: tls-cert
              readOnly: true
          livenessProbe:
            tcpSocket:
              port: {{ tpa_single_node_guac_collectsub_port }}
          ports:
            - containerPort: {{ tpa_single_node_guac_collectsub_port }}
              protocol: TCP
              name: endpoint
              hostPort: {{ tpa_single_node_guac_collectsub_port }}
              hostIP: {{ tpa_single_node_rhel_host }} 
